@{
    ViewBag.Title = "Home Page";
    ViewBag.TituloControlador = "Inicio";
    ViewBag.InfoPagina = "Bienvenido, Sistema de Facturacion de Ventas";

}
<div class="text-danger">
    <center> <h3>Bienvenido @ViewBag.Usuario</h3></center>
</div>